/* General body styling */
body {
    margin: 0;
    padding: 0;
    width: 100%; /* Adjust the width as needed */
    margin: auto; /* Center the body horizontally */
    padding: 10px; /* Add padding for mobile */
}

/* Dropdown styling */
select {
    padding: 8px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #780096;
    transition: all 0.3s ease;
    width: 100%;
    appearance: none; /* Remove default arrow */
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    cursor: pointer; /* Add pointer cursor */
}

select:hover, select:focus {
    background-color: #ffffff;
    border-color: #fffcfc; /* Change border color on hover */
}

select option {
    font-size: 18px; /* Increase font size for options */
    padding: 10px; /* Add padding for better spacing */
    background-color: #fff;
    color: #030303;
    transition: background-color 0.3s ease, color 0.3s ease;
}

select:hover option {
    background-color: #f5eef5;
    color: #661a1a;
}

select option:checked {
    background-color: #aa3c75;
    color: #000000;
    font-weight: bold;
}

/* Button styling */
button {
    padding: 10px 20px;
    background-color: #780096;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #FF0082;
}

input {
    width: calc(100% - 20px); /* Subtract padding from width */
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 10px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input:focus {
    outline: none;
    border-color: #FF0082;
}

/* Popup container styling */
.popup-content {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 50px 50px 50px 60px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Content container */
#content1 {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

/* Container for the whole page */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Adjustments for other elements */
.popup-container {
    position: relative;
    z-index: 1;
}

#qr-code canvas {
    width: 200px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#qr-code img.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80px;
    max-height: 80px;
    z-index: 1;
}

/* Mobile view adjustments */
@media (max-width: 600px) {
    body {
        width: 100%;
        padding: 10px;
    }

    select {
        font-size: 14px;
        padding: 8px 10px;
        width: 100%;
    }

    select option {
        font-size: 16px;
        padding: 8px;
    }

    input {
        width: 100%;
    }

    button {
        width: 100%;
        padding: 12px;
        font-size: 14px;
    }

    .popup-content {
        padding: 20px;
        width: 90%;
        border-radius: 20px;
    }

    #qr-code canvas {
        width: 150px;
    }

    #content1 {
        width: 90%;
        padding: 10px;
        border-radius: 20px;
        top: auto;
        left: auto;
        transform: none;
        position: relative;
    }

    .popup-container {
        width: 100%;
        padding: 20px;
    }

    .social-btn {
        width: 35px;
        height: 35px;
    }
}

/* Desktop-specific styles */
@media (min-width: 601px) {
    .popup-container, #step2.popup-content {
        width: 600px;
    }

    .popup-content {
        padding: 50px;
        width: 80%;
        border-radius: 40px;
    }
}
