.job-type-select select {
    padding: 8px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #8a09aa;
    transition: all 0.3s ease;
    width: 100%;
    appearance: none; /* Remove default arrow */
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    cursor: pointer; /* Add pointer cursor */
}

/* Dropdown styling */
.language-selection select,
.location-selection select,
.job-type-select select {
    padding: 8px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #8a09aa;
    transition: all 0.3s ease;
    width: 100%;
    appearance: none; /* Remove default arrow */
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    cursor: pointer; /* Add pointer cursor */
}

/* Container hover effect */
.language-selection select:hover,
.language-selection select:focus,
.location-selection select:hover,
.location-selection select:focus,
.job-type-select select:hover,
.job-type-select select:focus {
    background-color: #ffffff;
    padding: 10px;
    border-color: #fffcfc; /* Change border color on hover */
    height: auto;
    overflow: auto;
    opacity: 1; 
}

/* Dropdown options styling */
.language-selection select option,
.location-selection select option,
.job-type-select select option {
    font-size: 18px; /* Increase font size for options */
    padding: 10px; /* Add padding for better spacing */
    background-color: #fff; /* Default background color for options */
    color: #030303; /* Default text color for options */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for option hover */
}

/* Styling for the options when hovered */
.language-selection select:hover option,
.location-selection select:hover option,
.job-type-select select:hover option {
    background-color: #f5eef5; /* Custom background color for hovered option */
    color: #030303; /* Custom text color for hovered option */
    font-size: 20px; /* Increase font size when hovered */
}
/* Styling for the selected option */
.language-selection select option:checked,
.location-selection select option:checked,
.job-type-select select option:checked {
    background-color: #b862b3; /* Custom background color for selected option */
    color: #000000; /* Custom text color for selected option */
    font-weight: bold; /* Make selected option bold */
}


 /* How To button container styling */
#how-to {
    text-align: center;
    margin-top: 20px; /* Adjust margin as needed */
    position: absolute;
    top: 100px; /* Adjust to account for spacer height */
    left: calc(50% + 50px); /* Adjust as needed */
}

/* Button styles */
.how-to-button1 {
    padding: 10px 10px;
    font-size: 14px;
    background-color: #903c8e;
    color: #fffcfc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.how-to-button1:hover {
    background-color: #a458b7;
}


/* Dropdown label styling */
.popup-content > div:not(.additional-logo) > label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333; /* Change label color */
}



/* Next button styling */
.popup-content button {
    padding: 10px 10px;
    background-color: #a458b7;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup-content button:hover {
    background-color: #501c5c;
}

/* Body styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}


.popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.popup-content {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    padding: 50px 50px 50px 60px; /* Adjust padding to move content up */
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; 
    text-align: center;
    display: flex;
    flex-direction: column; /* Set flex direction to column */
    justify-content: center; /* Center content vertically */
    align-items: center; 
}

h2 {
    color: #b52b65; /* Pinkish purple */
        font-size: 28px; /* Larger font size */
    margin-bottom: 20px;
    
}

label {
    display: block;
    margin-bottom: 10px;
    color: #666666;
    
}
/* Spacer class to create empty space */
.spacer {
    height: 20px; /* Adjust as needed */
}


/* Additional logo styling */
.additional-logo {
    display: flex;
    position: absolute;
    top: -100px; /* Adjust as needed */
    right: 150px; /* Adjust as needed */
    align-items: center;
    justify-content: flex-start; /* Align content to the start (left) */
    transform: scale(0.2); /* Maintain the scale */
    padding: 5px; /* Adjust for desired spacing around the logo */
    border-radius: 5px; /* Adjust to create rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

/* Dropdown styling */
.language-selection {
    position: absolute;
    top: 23px; /* Adjust to account for spacer height */
    left: calc(37% + 50px); /* Adjust as needed */
}



/* General body styles */
body {
    margin: 0;
    padding-top: 60px; /* Adjust based on the height of your elements */
    overflow-x: hidden; /* Prevent horizontal overflow */
}

 
input {
    width: calc(100% - 20px); /* Subtract padding from width */
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #f2f2f2; /* Light gray border */
    border-radius: 10px;
    font-size: 16px; /* Larger font size */
    transition: border-color 0.3s; /* Smooth border transition */
}
input:focus {
    outline: none; /* Remove default focus outline */
    border-color: #f02757; /* Hot pink border color on focus */
}

button {
    padding: 10px 20px;
    background-color: #903c8e; /* Deep purple */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a458b7; /* Lighter purple on hover */
}

/* Add styles for the QR code container */
#qr-code {
    margin-top: 20px; /* Adjust spacing */
    text-align: center; /* Center QR code */
    position: relative; /* Position container for absolute positioning of logo */
}

/* Optional: Style for the generated QR code itself */
#qr-code canvas {
    width: 200px; /* Adjust the size of the QR code */
    height: auto;
    border: 1px solid #ccc; /* Add a border */
    border-radius: 5px; /* Add some border radius for rounded corners */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

/* Add styles for the logo */
#qr-code img.logo {
    position: absolute; /* Position the logo relative to the container */
    top: 50%; /* Center the logo vertically */
    left: 50%; /* Center the logo horizontally */
    transform: translate(-50%, -50%); /* Center the logo precisely */
    max-width: 80px; /* Adjust the maximum width of the logo */
    max-height: 80px; /* Adjust the maximum height of the logo */
    z-index: 1; /* Ensure the logo appears above the QR code */
}

/* Add styles for the share buttons */
#share-button-whatsapp,
#share-button-line {
    margin-top: 20px; /* Adjust spacing */
    margin-bottom: 20px; /* Adjust spacing */
    padding: 10px 20px;
    background-color: #903c8e; /* Deep purple */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#share-button-whatsapp:hover,
#share-button-line:hover {
    background-color: #a458b7; /* Lighter purple on hover */
}

/* Color hashtags */
.popup-content::before,
.popup-content::after {
    content: attr(data-content);
    color: #ff69b4; /* Hot pink */
    font-weight: bold; /* Make hashtags bold */
}
#picture-container {
    margin-top: 20px; /* Adjust spacing */
    text-align: center; /* Center the image */
    position: relative;
}
#picture-container img {
    width: 200px; /* Set the width to match the QR code size */
    height: 200px; /* Set the height to match the QR code size */
    border: 1px solid #ccc; /* Add a border for clarity */
    border-radius: 5px; /* Add border radius for rounded corners */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

#custom-image {
    max-width: 200px; /* Adjust the maximum width of the image */
    max-height: 200px; /* Adjust the maximum height of the image */
}
/* CSS for logo container */
.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure the logo appears above other content */
}

.logo-container img {
    max-width: 100%; /* Make the logo responsive */
    height: auto;

}
/* Adjustments for other elements */
.popup-container {
    position: relative;  /* Ensure the logo container is positioned relative to this container */
    z-index: 1; /* Ensure other content appears above the logo */
}


  

/* Container for the whole page */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

 

/* Logo container */
.logo-container {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure the logo appears above other content */
}

.logo-container img {
    max-width: 100%; /* Make the logo responsive */
    height: auto;
 
}

 
/* Content section */
#content {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;  /* Ensure the logo container is positioned relative to this container */
    z-index: 1; /* Ensure other content appears above the logo */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure the logo appears above other content */
}

#content h2 {
    color: #b52b65;
    font-size: 28px;
    margin-bottom: 20px;
    position: relative;  /* Ensure the logo container is positioned relative to this container */
    z-index: 1; /* Ensure other content appears above the logo */
    
}

/* Video container styling */
.video-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.video-container iframe {
    max-width: 100%;
    border: none;
}
 /* Media query for mobile responsiveness */

 
/* Media query for phones */
@me dia screen and (max-width: 600px) {
    /* Adjustments for logo */
    .additional-logo {
        position: absolute;
        top: 10px;
        left: 10px;
        transform: scale(0.1); /* Adjust for XXXXS size */
    }

    /* Adjustments for language selection */
    .language-selection {
        position: absolute;
        top: 10px;
        left: 100px; /* Adjust based on logo size and spacing */
        margin: 20px auto; /* Center on smaller screens */
        text-align: center; /* Center text */
    }

    /* Adjustments for How To button */
    #how-to {
        position: absolute;
        top: 10px;
        left: 200px; /* Adjust based on logo size and spacing */
        margin: 20px auto; /* Center on smaller screens */
        text-align: center; /* Center text */
    }

    .spacer {
        display: none; /* Hide spacers on smaller screens */
    }
}
